# *

# !BookLoop/
# !BookLoop/**
# BookLoop/__pycache__
# BookLoop/migrations/__pycache__


# !books/
# !books/** 
# books/__pycache__
# books/migrations/__pycache__

# !borrow_records/
# !borrow_records/** 
# borrow_records/__pycache__



# !CONSTANT.py

# !categories/
# !categories/** 
# categories/__pycache__



# !Class_Diagram.mmd
# !Class_Diagram.png

# !db.sqlite3

# !discussions/
# !discussions/** 
# discussions/__pycache__




# !.env.sample



# !manage.py
# !media/
# !media/** 
# !Project Report.pdf

# !global_templates/
# !global_templates/**


# !Readme.md
# !requirements.txt

# !reviews/
# !reviews/** 
# reviews/__pycache__


# !static/
# !static/** 
# !ss/
# !ss/** 
# !transactions/
# !transactions/** 
# transactions/__pycache__





# !users/
# !users/**  
# users/templates/login_form.html
# users/templates/update_profile.html
# users/templates/profile.html
# users/templates/signup_form.html
# users/__pycache__
# users/migrations/__pycache__


.env
__pycache__






