*

!BookLoop/
!BookLoop/**
BookLoop/__pycache__
BookLoop/migrations


!books/
!books/** 
books/__pycache__
books/migrations


!borrow_records/
!borrow_records/** 
borrow_records/__pycache__
borrow_records/migrations


!CONSTANT.py

!categories/
!categories/** 
categories/__pycache__
categories/migrations


!Class_Diagram.mmd
!Class_Diagram.png

!db.sqlite3

!discussions/
!discussions/** 
discussions/__pycache__
discussions/migrations



!.env.sample

!.gitignore
!manage.py
!media/
!media/** 
!Project Report.pdf

!global_templates/
!global_templates/**


!Readme.md
!requirements.txt

!reviews/
!reviews/** 
reviews/__pycache__
reviews/migrations


!static/
!static/** 
!ss/
!ss/** 
!transactions/
!transactions/** 
transactions/__pycache__
transactions/migrations
transactions/templates



!users/
!users/**  
users/templates/login_form.html
users/templates/update_profile.html
users/templates/update_profile_t.html
users/templates/profile.html
users/templates/signup_form.html
users/__pycache__
users/migrations

!structure.txt


